{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="form-container m-4">

    {{form_start(form, {'attr':{'class': ' form-group'}})}}
      <div>{{form_row(form.username, {'attr':{'class': 'text-danger form-control', 'placeholder': 'put your username'}})}}</div>
      <div>{{form_row(form.password, {'attr':{'class': ' form-control'}})}}</div>
      <div>{{form_row(form.verificationPassword, {'attr':{'class': ' form-control'}})}}</div>

      <input type="submit" class="btn btn-primary m-3" value="Submit"/>
    {{form_end(form)}}

</div>
{% endblock %}
