{% extends 'base.html.twig' %}

{% block title %}Car Park{% endblock %}
{% block header %}Cars list{% endblock %}
{% block body %}

  <div class="cars-container">

      {% for car in cars %}

        <div class="card" style="width: 18rem;">
          <img src="{{ asset('images/car/' ~ car.model.image )}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ car.registration|upper  }}</h5>
            <p class="card-text">brand:  <strong class="mx-5">{{car.model.brand.label|title}}</strong></p>
            <p class="card-text">model:  <strong class="mx-5">{{car.model.label|title}}</strong></p>
            <p class="card-text">doors:  <strong class="mx-5">{{car.numberDoors}}</strong></p>
            <p class="card-text">year:   <strong class="mx-5">{{car.year}}</strong></p>
            <p class="card-text">average price:   <strong class="mx-5">{{car.model.averagePrice}} $</strong></p>
          </div>
        </div>

      {% endfor %}

  </div>

  <div class="d-flex justify-content-center">
    {{ knp_pagination_render(cars) }}
  </div>

{% endblock %}
